Repository ROCm/hip, pull requests merged in 2018-07, with the labels that each got.

#561 [HIPIFY][docs] Update README.md after testing with new LLVM releases 5.0.2 and 6.0.1
  hipify-clang/README.md
Labels: hipify

#565 [HIPIFY] Add DEBUG(X) macro compatibility
  hipify-clang/src/LLVMCompat.h
  hipify-clang/src/main.cpp
Labels: hipify, type:fix

#566 [HIPIFY] Current trunk LLVM 7.0 initial support
  hipify-clang/CMakeLists.txt
  hipify-clang/src/HipifyAction.cpp
Labels: hipify, type:feature

#573 [HIPIFY] Support of cudaComputeMode / CUcomputemode
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HipMap.cpp
  include/hip/hip_runtime_api.h
Labels: hipify

#515 Add hipclang amdgcn functions
  CMakeLists.txt
  bin/hipcc
  include/hip/hcc_detail/device_functions.h
  include/hip/hcc_detail/device_library_decls.h
  include/hip/hcc_detail/hip_ldg.h
  include/hip/hcc_detail/hip_runtime.h
  include/hip/hcc_detail/llvm_intrinsics.h
  include/hip/hcc_detail/surface_functions.h
  packaging/hip_hcc.txt
  src/device_functions.cpp
  src/device_util.cpp
  src/device_util.h
  src/hip_hc.ll
  src/hip_ldg.cpp
  tests/src/deviceLib/hip_test_ldg.cpp
Labels: hold_off_merge

#535 Feature native vector types
  include/hip/hcc_detail/device_functions.h
  include/hip/hcc_detail/hip_vector_types.h
  include/hip/hcc_detail/texture_functions.h
  tests/src/deviceLib/hipVectorTypes.cpp
  tests/src/deviceLib/hipVectorTypesDevice.cpp
  tests/src/deviceLib/vector_test_common.h
Labels: hold_off_merge

#578 [HIPIFY][test] Add static and dynamic shared memory tests
  tests/hipify-clang/dynamic_shared_memory.cu
  tests/hipify-clang/static_shared_memory.cu
Labels: hipify, type:test

#583 [HIPIFY][DNN] cuDNN support revise
  docs/markdown/CUDNN_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HipMap.cpp
  tests/hipify-clang/cuDNN/cudnn_softmax.cu
Labels: hipify

#607 [HIPIFY][BLAS] cuBLAS support revise
  docs/markdown/CUBLAS_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HipMap.cpp
  tests/hipify-clang/cuBLAS/cublas_0_based_indexing.cu
  tests/hipify-clang/cuBLAS/cublas_1_based_indexing.cu
  tests/hipify-clang/cuBLAS/cublas_sgemm_matrix_multiplication.cu
Labels: hipify, type:enhancement, type:test
