Repository ROCm/hip, pull requests merged in 2018-05, with the labels that each got.

#417 [HIPIFY] Sync with HIP (Execution Control, Surfaces, Memory)
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HipMap.cpp
Labels: hipify

#423 [HIPIFY] Initial cuDNN support
  hipify-clang/src/CUDA2HipMap.cpp
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  hipify-clang/src/Statistics.cpp
  hipify-clang/src/Statistics.h
  tests/hipify-clang/lit.cfg
  tests/hipify-clang/lit.site.cfg.in
Labels: hipify, type:feature

#428 [HIPIFY][doc] Readme.md update
  hipify-clang/README.md
Labels: hipify

#429 [HIPIFY][test] add cuDNN test
  tests/hipify-clang/cuDNN/cudnn_convolution_forward.cu
Labels: hipify, type:test

#438 [HIPIFY][Blas] Sync with CUDA 9.1
  hipify-clang/src/CUDA2HipMap.cpp
Labels: hipify

#443 [HIPIFY][DNN] support of cuDNN 7.1.3 - continuation
  hipify-clang/src/CUDA2HipMap.cpp
Labels: hipify, type:feature

#449 [HIPIFY][DNN] support of cuDNN 7.1.3 - continuation 2
  hipify-clang/src/CUDA2HipMap.cpp
Labels: hipify, type:feature

#440 Add __assert_fail, __device_trap and hipErrorAssert for clang
  include/hip/hcc_detail/hip_runtime.h
  include/hip/hip_runtime_api.h
Labels: hip, type:fix

#463 [HIPIFY][DNN] support of cuDNN 7.1.3 - finishing
  hipify-clang/src/CUDA2HipMap.cpp
Labels: hipify, type:feature
