Repository ROCm/hip, pull requests merged in 2018-10, with the labels that each got.

#699 [HIPIFY] CUDA 10.0 Driver API initial support
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HipMap.cpp
  hipify-clang/src/Statistics.cpp
  hipify-clang/src/Statistics.h
Labels: hipify

#709 [HIPIFY] Code cleanup and formatting
  hipify-clang/src/ArgParse.h
  hipify-clang/src/CUDA2HipMap.h
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  hipify-clang/src/LLVMCompat.cpp
  hipify-clang/src/LLVMCompat.h
  hipify-clang/src/ReplacementsFrontendActionFactory.h
  hipify-clang/src/Statistics.cpp
  hipify-clang/src/Statistics.h
  hipify-clang/src/StringUtils.cpp
  hipify-clang/src/StringUtils.h
  hipify-clang/src/main.cpp
Labels: hipify

#692 HIP program state re-initialization logic (take 2)
  include/hip/hcc_detail/program_state.hpp
  src/functional_grid_launch.inl
  src/program_state.cpp
Labels: merge_rocm_2.x

#712 [HIPIFY] CUDA Driver API data types total revise
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HipMap.cpp
Labels: hipify

#705 Feature minimal changes for hc next
  include/hip/hcc_detail/grid_launch.h
  include/hip/hcc_detail/grid_launch.hpp
  include/hip/hcc_detail/hip_fp16_math_fwd.h
  include/hip/hcc_detail/hip_runtime.h
  include/hip/hcc_detail/math_functions.h
  include/hip/hcc_detail/math_fwd.h
  samples/0_Intro/hcc_dialects/vadd_amp_arrayview.cpp
  samples/0_Intro/hcc_dialects/vadd_hc_am.cpp
  samples/0_Intro/hcc_dialects/vadd_hc_array.cpp
  samples/0_Intro/hcc_dialects/vadd_hc_array.hc
  samples/0_Intro/hcc_dialects/vadd_hc_arrayview.cpp
  src/device_util.cpp
  tests/src/deviceLib/hipIntegerIntrinsics.cpp
  tests/src/deviceLib/hipSinglePrecisionIntrinsics.cpp
  tests/src/deviceLib/hip_trig.cpp
  tests/src/kernel/hipLanguageExtensions.cpp
  tests/src/runtimeApi/stream/hipNullStream.cpp
Labels: merge_rocm_2.x

#719 [HIPIFY] Split CUDA2HIP map into a number of maps based on API type
  hipify-clang/CMakeLists.txt
  hipify-clang/src/CUDA2HIP.cpp
  hipify-clang/src/CUDA2HIP.h
  hipify-clang/src/CUDA2HIP_BLAS_API_functions.cpp
  hipify-clang/src/CUDA2HIP_BLAS_API_types.cpp
  hipify-clang/src/CUDA2HIP_DNN_API_functions.cpp
  hipify-clang/src/CUDA2HIP_DNN_API_types.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
  hipify-clang/src/CUDA2HIP_FFT_API_functions.cpp
  hipify-clang/src/CUDA2HIP_FFT_API_types.cpp
  hipify-clang/src/CUDA2HIP_RAND_API_functions.cpp
  hipify-clang/src/CUDA2HIP_RAND_API_types.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
  hipify-clang/src/CUDA2HipMap.cpp
  hipify-clang/src/CUDA2HipMap.h
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/main.cpp
Labels: hipify

#727 [HIPIFY][cmake][fix] Mark all target_link_libraries with PRIVATE keyword
  hipify-clang/CMakeLists.txt
Labels: hipify, type:fix

#729 [HIPIFY][doc] Readme update
  hipify-clang/README.md
Labels: hipify

#734 [HIPIFY] CUDA Runtime API data types total revise
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
Labels: hipify

#736 [HIPIFY] Modify HIP types to conform to CUDA's ones
  hipify-clang/src/CUDA2HIP_BLAS_API_functions.cpp
  hipify-clang/src/CUDA2HIP_DNN_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
  hipify-clang/src/CUDA2HIP_FFT_API_functions.cpp
  hipify-clang/src/CUDA2HIP_RAND_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/Statistics.cpp
  hipify-clang/src/Statistics.h
Labels: hipify

#740 [HIPIFY][fix] Return back cudaDeviceProp's struct field warpSize to hipWarpSize mapping
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
Labels: hipify, type:fix

#741 [HIPIFY][fix][#739] Fix garbage after replacements
  hipify-clang/src/HipifyAction.cpp
Labels: hipify, type:fix
