Repository ROCm/hip, pull requests merged in 2019-09, with the labels that each got.

#1383 [HIPIFY][fix] Fix for upcoming LLVM 10.0
  hipify-clang/src/ReplacementsFrontendActionFactory.h
Labels: hipify, type:fix

#1384 [HIPIFY][tests] Add occupancy test
  tests/hipify-clang/unit_tests/samples/2_Cookbook/13_occupancy/occupancy.cpp
Labels: hipify, type:test

#1385 [HIPIFY][doc] Update README.md (testing, versions)
  hipify-clang/README.md
Labels: hipify, type:doc

#1387 [HIPIFY][perl][#259] Fix
  bin/hipify-perl
  tests/hipify-clang/unit_tests/samples/axpy.cu
Labels: hipify, type:fix

#1389 [HIPIFY][perl] Code cleanup and formatting
  bin/hipify-perl
Labels: hipify

#1391 [HIPIFY][perl] Sync hipify-perl with hipify-clang
  bin/hipify-perl
Labels: hipify

#1393 [HIPIFY][perl] Code cleanup (preparation for generating)
  bin/hipify-perl
Labels: hipify

#1395 [HIPIFY][cmake][#1394] Fix
  hipify-clang/CMakeLists.txt
Labels: hipify, type:build

#1225 Use hcc when building with hcc compiler
  CMakeLists.txt
Labels: type:build

#1398 [HIPIFY] Add device functions support
  hipify-clang/src/CUDA2HIP.h
  hipify-clang/src/CUDA2HIP_Device_functions.cpp
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  hipify-clang/src/Statistics.cpp
  hipify-clang/src/Statistics.h
  tests/hipify-clang/unit_tests/device/math_functions.cu
Labels: hipify, type:feature

#1406 [HIPIFY][#1400] Fix Template Instantiation kernel launch (clang & perl)
  bin/hipify-perl
  hipify-clang/src/HipifyAction.cpp
  tests/hipify-clang/unit_tests/libraries/cuRAND/benchmark_curand_kernel.cpp
  tests/hipify-clang/unit_tests/samples/axpy.cu
  tests/hipify-clang/unit_tests/samples/square.cu
Labels: hipify, type:fix

#1410 [HIPIFY][#1404] Fix: add cooperative_groups.h -> hip/hip_cooperative_groups.h
  hipify-clang/src/CUDA2HIP.cpp
Labels: hipify, type:fix

#1417 [HIPIFY][doc] Update README.md
  hipify-clang/README.md
Labels: hipify, type:doc

#1419 [HIPIFY][perl] Generate sub warnUnsupportedDeviceFunctions
  hipify-clang/src/main.cpp
Labels: hipify

#1420 [HIPIFY][perl] Syn with hipify-clang
  bin/hipify-perl
Labels: hipify

#1422 [HIPIFY] Fix build failure due to typo in [#1377]
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
Labels: hipify, type:fix

#1423 [HIPIFY][perl][fix] Treat ::device_function as a device function
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
  tests/hipify-clang/unit_tests/device/math_functions.cu
Labels: hipify, type:fix

#1426 [HIPIFY] Add supported device functions (from math_functions.h)
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Device_functions.cpp
  hipify-clang/src/CUDA2HIP_Perl.cpp
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
Labels: hipify, type:enhancement

#1431 [HIPIFY][#1430] Build fix for LLVM < 8.0.0
  hipify-clang/src/main.cpp
Labels: hipify, type:build, type:fix

#1436 [HIPIFY] Add supported device functions (from device_functions.h)
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Device_functions.cpp
Labels: hipify

#1438 [HIPIFY][#1437] Fix: cudaFuncGetAttributes to hipFuncGetAttributes is supported
  bin/hipify-perl
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
Labels: hipify, type:fix

#1441 [HIPIFY][#1435] Add HIP_SYMBOL wrapper to the templated Device Symbol argument of the following functions
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  tests/hipify-clang/unit_tests/device/device_symbols.cu
  tests/hipify-clang/unit_tests/libraries/cuRAND/benchmark_curand_kernel.cpp
  tests/hipify-clang/unit_tests/libraries/cuRAND/poisson_api_example.cu
Labels: hipify, type:fix

#1445 [HIPIFY][doc] Update README.md due to LLVM 9.0.0 release
  hipify-clang/README.md
Labels: hipify, type:doc

#1450 [HIPIFY][#1435][perl] Add HIP_SYMBOL wrapper to the templated Device Symbol argument of the following functions:
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
  hipify-clang/src/CUDA2HIP_Scripting.h
  hipify-clang/src/HipifyAction.cpp
Labels: hipify, type:fix

#1451 [HIPIFY][perl] generateSymbolFunctions() small refactoring
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify, type:enhancement

#1452 [HIPIFY][perl] CUDA2HIP_Perl code cleanup
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify, type:enhancement

#1455 [HIPIFY][doc] Return X86 target back in LLVM's cmake
  hipify-clang/README.md
Labels: hipify, type:doc

#1458 [HIPIFY][#1439] Add reinterpret_cast to args of some functions
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  tests/hipify-clang/unit_tests/samples/reinterpret_cast.cu
Labels: hipify, type:fix

#1459 [HIPIFY] HipifyAction refactoring
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
Labels: hipify, type:enhancement

#1461 [HIPIFY][perl] Get rid of obsolete warnings on cuBLAS and cuRAND
  bin/hipify-perl
Labels: hipify, type:fix

#1462 [HIPIFY][#1439] Add reinterpret_cast to args of some functions
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
  hipify-clang/src/CUDA2HIP_Scripting.h
  hipify-clang/src/HipifyAction.cpp
  tests/hipify-clang/unit_tests/casts/reinterpret_cast.cu
Labels: hipify, type:fix

#1434 [HIP] Add tccDriver info in hipDeviceProp [github#1433]
  include/hip/hip_runtime_api.h
  include/hip/nvcc_detail/hip_runtime_api.h
  src/hip_hcc.cpp
Labels: hip, type:fix

#1467 [HIPIFY][doc] Update README.md
  hipify-clang/README.md
Labels: hipify, type:doc

#1469 [HIPIFY] Add supported fp16 functions
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Device_functions.cpp
Labels: hipify, type:feature

#1474 [HIPIFY] Generate more hipify-perl (continuation)
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify

#1477 [HIPIFY][perl] More code clean-up before continuing generation
  bin/hipify-perl
Labels: hipify, type:enhancement

#1478 [HIPIFY][doc] The latest cuDNN 7.6.4 is supported
  hipify-clang/README.md
Labels: hipify, type:doc

#1480 [HIPIFY][perl] Generate stat functions
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify

#1481 [HIPIFY] Reconcile transformation (statistics) types between hipify-clang and hipify-perl
  bin/hipify-perl
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/Statistics.cpp
  hipify-clang/src/Statistics.h
Labels: hipify, type:fix

#1444 [hip] Added gfx803,gfx1010,gfx1012 kernel binary hipModule test.
  tests/src/runtimeApi/module/vcpy_kernel.code
Labels: pr:ready_to_merge

#1468 Optimise the gridDim.n * blockDim.m idiom
  include/hip/hcc_detail/hip_runtime.h
Labels: pr:ready_to_merge

#1470 to inlclude hip_prof_str.h under USE_PROF_API macro
  include/hip/hcc_detail/hip_runtime_api.h
Labels: pr:ready_to_merge

#1472 [docs] Fix sample links in hip_profiling
  docs/markdown/hip_profiling.md
Labels: pr:ready_to_merge

#1473 Map clock64() to __builtin_readcyclecounter()
  include/hip/hcc_detail/device_functions.h
Labels: pr:ready_to_merge

#1475 Fix cast of __half for HIP-clang
  include/hip/hcc_detail/hip_fp16.h
  tests/src/deviceLib/hipTestHalf.cpp
Labels: pr:ready_to_merge

#1464 hipModuleUnload should remove global variables from memtracker
  src/hip_module.cpp
Labels: pr:ready_to_merge

#1485 [HIPIFY][perl] Generate simpleSubstitutions function
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify

#1486 [HIPIFY][perl] Generate transformExternShared function
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify
