Repository ROCm/hip, pull requests merged in 2019-10, with the labels that each got.

#1429 Separated C macros from CPP header file
  tests/src/gcc/LaunchKernel.c
  tests/src/test_common.h
Labels: pr:ready_to_merge, type:test

#1482 [ci] Enable tests on ROCm 2.8
  Jenkinsfile
Labels: pr:ready_to_merge

#1483 Bump version to 2.10
  bin/hipconfig
Labels: pr:ready_to_merge

#1447 Reimplement hipMemGetInfo
  src/hip_hcc.cpp
  src/hip_hcc_internal.h
  src/hip_memory.cpp
Labels: pr:ready_to_merge

#1492 [HIPIFY][#1490][fix] Populate the list of supported device atomic functions
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Device_functions.cpp
  tests/hipify-clang/unit_tests/device/atomics.cu
Labels: hipify, type:fix

#1496 [HIPIFY] Return to wrapping with HIP_KERNEL_NAME(...) macro of a template instantiation kernel launch
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
  hipify-clang/src/HipifyAction.cpp
  tests/hipify-clang/unit_tests/device/atomics.cu
  tests/hipify-clang/unit_tests/libraries/cuRAND/benchmark_curand_kernel.cpp
  tests/hipify-clang/unit_tests/samples/axpy.cu
  tests/hipify-clang/unit_tests/samples/square.cu
Labels: hipify, type:enhancement

#1500 [HIPIFY][perl] Finishing with generation of hipify-perl
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify, type:feature

#1501 [HIPIFY][perl] Start to generate hipify-perl under an option -perl
  hipify-clang/src/ArgParse.cpp
  hipify-clang/src/ArgParse.h
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify, type:feature

#1298 hipcc defaults to code object v3
  bin/hipcc
Labels: pr:ready_to_merge

#1399 Added new Memory API's
  bin/hipify-perl
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  include/hip/hcc_detail/hip_runtime_api.h
  include/hip/nvcc_detail/hip_runtime_api.h
  src/hip_memory.cpp
  tests/src/deviceLib/hipTestHalf.cpp
  tests/src/runtimeApi/memory/hipArray.cpp
  tests/src/runtimeApi/memory/hipMemset.cpp
  tests/src/runtimeApi/memory/hipMemset2D.cpp
  tests/src/test_common.cpp
  tests/src/test_common.h
Labels: pr:ready_to_merge

#1448 [HIP]Fixed redefinition of real() & imag() [SWDEV#201461]
  include/hip/hcc_detail/hip_complex.h
Labels: hip, pr:ready_to_merge, priority: P2 (important), type:fix

#1471 Add texref get APIs support
  include/hip/hcc_detail/hip_runtime_api.h
  src/hip_texture.cpp
  src/hip_texture.h
Labels: pr:ready_to_merge

#1497 Fix usage of uninitialized variable in hipDeviceGetAttribute
  include/hip/nvcc_detail/hip_runtime_api.h
Labels: pr:ready_to_merge

#1498 [hip] Add the missing header <sstream>.
  src/trace_helper.h
Labels: pr:ready_to_merge

#1502 [HIPIFY] CUDA2HIP_Perl code clean-up and formatting
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify, type:enhancement

#1504 [HIPIFY][SPARSE] sync with hipSPARSE
  bin/hipify-perl
  docs/markdown/CUSPARSE_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_SPARSE_API_functions.cpp
  hipify-clang/src/CUDA2HIP_SPARSE_API_types.cpp
Labels: hipify

#1424 Fix PCI Domain ID query
  src/hip_hcc.cpp
Labels: pr:ready_to_merge

#1503 [ci] Enable tests on ROCm 2.9
  Jenkinsfile
Labels: pr:ready_to_merge

#1507 [HIPIFY] Remove duplicates
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/markdown/CURAND_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_BLAS_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Device_functions.cpp
  hipify-clang/src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: hipify

#1508 [HIPIFY] Sync with HIP
  bin/hipify-perl
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
Labels: hipify

#1512 [HIPIFY][#1487][fix] Translate correctly kernel names prefixed with namespace
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
  tests/hipify-clang/unit_tests/namespace/ns_kernel_launch.cu
Labels: hipify, type:fix

#1513 [HIPIFY][doc] Add a few words about hipify-perl
  hipify-clang/README.md
Labels: hipify, type:doc

#1519 [HIPIFY][test] Update allocators.cu test
  tests/hipify-clang/unit_tests/samples/allocators.cu
Labels: hipify, type:test

#1511 Fix for directed tests failure
  tests/src/runtimeApi/memory/hipArray.cpp
  tests/src/runtimeApi/module/hipLaunchCooperativeKernel.cpp
Labels: pr:ready_to_merge

#1514 tracing layer unifying with hcc: removing API_ID_ANY
  hip_prof_gen.py
  src/hip_prof_api.h
Labels: pr:ready_to_merge

#1516 Re enable test RTC
  tests/src/hiprtc/hiprtcGetLoweredName.cpp
  tests/src/hiprtc/hiprtcGetTypeName.cpp
  tests/src/hiprtc/saxpy.cpp
Labels: pr:ready_to_merge

#1520 [HIPIFY][perl] Add "important" notice
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify

#1527 [HIP][fix] Prefix libraryPropertyType to fix build of rocFFT and TensorFlow
  include/hip/hcc_detail/library_types.h
  include/hip/nvcc_detail/hip_runtime_api.h
Labels: hip, type:fix

#1534 [HIPIFY][CUB] Initial support (hipify-clang only)
  bin/hipify-perl
  hipify-clang/README.md
  hipify-clang/src/CUDA2HIP.cpp
  hipify-clang/src/CUDA2HIP.h
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  hipify-clang/src/Statistics.cpp
  hipify-clang/src/Statistics.h
  tests/hipify-clang/lit.cfg
  tests/hipify-clang/lit.site.cfg.in
  tests/hipify-clang/unit_tests/libraries/CUB/cub_01.cu
Labels: hipify, type:feature

#1535 [HIPIFY][build fix] Add missing new source file
  hipify-clang/src/CUDA2HIP_CUB_API_types.cpp
Labels: hipify, type:fix

#1536 [HIPIFY] HipifyAction code clean-up
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
Labels: hipify, type:enhancement

#1542 [HIPIFY][tests] Exclude tests for the libs, which are not defined in cmake command line
  tests/hipify-clang/lit.cfg
Labels: hipify, type:test

#1541 [HIPIFY][cmake] Make CMakeLists.txt compatible with default cmake 3.5.2 for Ubuntu 16.04
  hipify-clang/CMakeLists.txt
  hipify-clang/README.md
Labels: hipify, type:build

#1524 Fix struct declaration for C
  hip_prof_gen.py
Labels: pr:ready_to_merge

#1526 Adding code object manager to rtc
  CMakeLists.txt
Labels: pr:ready_to_merge

#1528 Guard against division by zero for no VGPR usage (e.g., in an empty k…
  src/hip_module.cpp
Labels: pr:ready_to_merge

#1540 Temporary add -D_OPENMP to clang options in hipcc to allow using CMak…
  bin/hipcc
Labels: pr:ready_to_merge

#1545 Update hipMathFunctions, hipTestHalf and hipTestNativeHalf tests to s…
  tests/src/deviceLib/hipMathFunctions.cpp
  tests/src/deviceLib/hipTestHalf.cpp
  tests/src/deviceLib/hipTestNativeHalf.cpp
Labels: pr:ready_to_merge

#1546 Use the correct return type in runTest in 11_texture_driver sample.
  samples/2_Cookbook/11_texture_driver/texture2dDrv.cpp
Labels: pr:ready_to_merge

#1547 [HIPIFY][CUB][#1460] Implement cubFunctionTemplateDecl matcher
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  tests/hipify-clang/unit_tests/libraries/CUB/cub_02.cu
Labels: hipify, type:feature, type:fix

#1548 [HIPIFY] Refactor a couple of matcher functions
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
Labels: hipify, type:enhancement

#1554 [HIPIFY][cmake] Add install rule for clang-resource-headers
  hipify-clang/CMakeLists.txt
Labels: hipify, type:build, type:feature, type:fix

#1557 [HIPIFY][doc] Update README.md
  hipify-clang/README.md
Labels: hipify, type:doc

#1562 [HIPIFY][CUB][#1460] Add "using namespace cub" translation support
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  tests/hipify-clang/unit_tests/libraries/CUB/cub_03.cu
Labels: hipify, type:feature

#1564 [HIPIFY][tests] Exclude all CUB tests if CUDA_CUB_ROOT_DIR is not set
  tests/hipify-clang/lit.cfg
Labels: hipify, type:test

#1565 [HIPIFY][tests] Set -I for CUDA path instead of --cuda-path for LLVM < 4
  tests/hipify-clang/lit.cfg
Labels: hipify, type:test

#1566 [HIPIFY][tests] Set max clang's CudaArch for corresponding CUDA version
  tests/hipify-clang/lit.cfg
  tests/hipify-clang/unit_tests/device/atomics.cu
Labels: hipify, type:test

#1567 [HIPIFY][perl] Support of 'using namespace cub'
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Perl.cpp
Labels: hipify

#1568 [HIPIFY][tests] Set max clang's CudaArch for corresponding CUDA major…
  tests/hipify-clang/lit.cfg
  tests/hipify-clang/unit_tests/device/atomics.cu
Labels: hipify, type:enhancement, type:test

#1570 [HIPIFY][#1569] Fix
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
  tests/hipify-clang/unit_tests/samples/vec_add.cu
Labels: hipify, type:fix

#1574 [HIPIFY] Disable delayed template parsing
  hipify-clang/src/main.cpp
  tests/hipify-clang/unit_tests/libraries/CUB/cub_03.cu
Labels: hipify, type:feature

#1578 [HIPIFY][cmake][#1571] Take into account building hipify-clang as a part of building HIP while installing
  hipify-clang/CMakeLists.txt
Labels: hipify, type:build, type:enhancement, type:fix

#1456 [hip] add support for implicit kernel argument for multi-grid sync
  src/hip_hcc_internal.h
  src/hip_memory.cpp
  src/hip_module.cpp
Labels: pr:ready_to_merge

#1531 Improve scalar access into vector types.
  include/hip/hcc_detail/hip_vector_types.h
Labels: pr:ready_to_merge

#1539 Improve performance of v2 arg handling
  include/hip/hcc_detail/code_object_bundle.hpp
  src/hip_module.cpp
  src/program_state.inl
Labels: pr:ready_to_merge

#1560 Cooperative groups match with cuda SWDEV-205006
  include/hip/hcc_detail/functional_grid_launch.hpp
  include/hip/hcc_detail/hip_runtime_api.h
  samples/2_Cookbook/13_occupancy/occupancy.cpp
  src/hip_module.cpp
  tests/src/runtimeApi/module/hipLaunchCooperativeKernel.cpp
  tests/src/runtimeApi/module/hipOccupancyMaxActiveBlocksPerMultiprocessor.cpp
  tests/src/runtimeApi/module/hipOccupancyMaxPotentialBlockSize.cpp
Labels: pr:ready_to_merge

#1573 Make CAS loops use the TTAS idiom.
  include/hip/hcc_detail/hip_atomic.h
Labels: pr:ready_to_merge

#1577 Hip vdi profiling header
  include/hip/hcc_detail/hip_runtime_prof.h
Labels: pr:ready_to_merge

#1581 [sample] Add HIP error checks in texture driver sample
  samples/2_Cookbook/11_texture_driver/texture2dDrv.cpp
Labels: pr:ready_to_merge

#1583 Adding new target for code analytics using clang --analyze
  CMakeLists.txt
Labels: pr:ready_to_merge

#1510 Add hipMemcpy2DfromArray
  include/hip/hcc_detail/hip_runtime_api.h
  src/hip_memory.cpp
Labels: pr:ready_to_merge

#1579 [dtest] Fix hipMemset2D test
  tests/src/runtimeApi/memory/hipMemset2D.cpp
Labels: pr:ready_to_merge

#1584 Fix deadlock, remove old __sync_* use.
  include/hip/hcc_detail/hip_atomic.h
Labels: pr:ready_to_merge

#1589 Add missing operators, fix GCC compilation.
  include/hip/hcc_detail/hip_vector_types.h
Labels: pr:ready_to_merge

#1590 [HIPIFY][tests] Fix ambiguous call to cusparseGetErrorString declared in cusparse.h
  tests/hipify-clang/unit_tests/libraries/cuSPARSE/cuSPARSE_12.cu
Labels: hipify, type:fix, type:test

#1594 [HIP][doc] Fix typo: AMD-clang -> HIP-clang
  INSTALL.md
Labels: hip, type:doc

#1600 [HIPIFY] Introduce --cuda-compile-host-device for LLVM >= 9
  hipify-clang/src/LLVMCompat.cpp
  hipify-clang/src/LLVMCompat.h
  hipify-clang/src/main.cpp
Labels: hipify, type:feature

#1593 [HIP][cmake] Move all *_INSTALL_DIR variables up before first add_subdirectory()
  CMakeLists.txt
Labels: hip, hipify, type:build, type:fix

#1612 [HIPIFY][cmake][#1572] Fix: Do not override CMAKE_INSTALL_PREFIX
  hipify-clang/CMakeLists.txt
Labels: hipify, type:build, type:fix
