Repository ROCm/hip, pull requests merged in 2019-08, with the labels that each got.

#1282 [HIPIFY][fix][#211] Taking into account include guard controlling macro
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  tests/hipify-clang/unit_tests/headers/headers_test_10.cu
  tests/hipify-clang/unit_tests/headers/headers_test_11.cu
Labels: difficulty:B_Medium, hipify, type:fix

#1289 [HIPIFY][doc] Update README.md
  hipify-clang/README.md
Labels: hipify, type:doc

#1290 [HIP][doc] Populate README.md with the supported CUDA APIs links
  README.md
Labels: hip, type:doc

#1307 [HIPIFY] Add missing hipHostRegister flags to hipify-perl
  bin/hipify-perl
Labels: hipify

#1312 Fix HIP Platform defines
  docs/markdown/hip_porting_guide.md
Labels: hip, type:doc, type:fix

#1315 [HIPIFY][cuRAND][#1257] Fix
  docs/markdown/CURAND_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_RAND_API_types.cpp
  tests/hipify-clang/unit_tests/libraries/cuRAND/poisson_api_example.cu
Labels: hipify, type:fix

#1318 [HIPIFY] Cooperative groups support
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
Labels: hipify

#1324 [HIPIFY] Add cuMemcpy2DAsync -> hipMemcpyParam2DAsync mapping
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
Labels: hipify

#1325 [HIPIFY][Driver API] Add support for hipFuncGetAttribute() and enum hipFunction_attribute
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
Labels: hipify

#1326 [HIPIFY] Add cudaMallocManaged -> hipMallocManaged
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
  tests/hipify-clang/unit_tests/samples/MallocManaged.cpp
Labels: hipify

#1322 [HIP] Fix for hipArray_t failure on nvcc path
  include/hip/nvcc_detail/hip_runtime_api.h
Labels: hip, type:fix

#1344 [hipcc] Fix for uninitialized variables on nvcc path
  bin/hipcc
Labels: hip, type:fix

#1345 Compilation failure on nvcc path when using hipChannelFormatKind
  include/hip/nvcc_detail/hip_runtime_api.h
Labels: hip, type:fix

#1354 [HIPIFY] CUDA 10.1 Update 2 support
  docs/markdown/CUBLAS_API_supported_by_HIP.md
  docs/markdown/CURAND_API_supported_by_HIP.md
  docs/markdown/CUSPARSE_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_BLAS_API_types.cpp
  hipify-clang/src/CUDA2HIP_RAND_API_types.cpp
  hipify-clang/src/CUDA2HIP_SPARSE_API_types.cpp
Labels: hipify

#1355 [HIPIFY][fix] Set the correct exit value for hipify-clang if errors
  hipify-clang/src/main.cpp
Labels: hipify, type:fix

#1360 [HIPIFY][cmake] Explicitly set c++14
  hipify-clang/CMakeLists.txt
Labels: hipify, type:build

#1371 [HIPIFY][cmake] Minor refactoring
  hipify-clang/CMakeLists.txt
Labels: hipify, type:build, type:enhancement, type:fix

#1372 [HIPIFY][#207][fix] Translate all preprocessor's conditional blocks
  hipify-clang/src/ArgParse.cpp
  hipify-clang/src/ArgParse.h
  hipify-clang/src/HipifyAction.cpp
  hipify-clang/src/HipifyAction.h
  hipify-clang/src/LLVMCompat.cpp
  hipify-clang/src/LLVMCompat.h
  hipify-clang/src/main.cpp
  tests/hipify-clang/lit.cfg
  tests/hipify-clang/lit.site.cfg.in
  tests/hipify-clang/unit_tests/libraries/cuComplex/cuComplex_Julia.cu
  tests/hipify-clang/unit_tests/libraries/cuSPARSE/cuSPARSE_03.cu
  tests/hipify-clang/unit_tests/pp/pp_if_else_conditionals.cu
  tests/hipify-clang/unit_tests/pp/pp_if_else_conditionals_01.cu
  tests/hipify-clang/unit_tests/pp/pp_if_else_conditionals_01_LLVM_10.cu
  tests/hipify-clang/unit_tests/pp/pp_if_else_conditionals_LLVM_10.cu
Labels: hipify, type:feature, type:fix

#1375 [HIPIFY][DNN] cuDNN 7.6.3 support
  docs/markdown/CUDNN_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_DNN_API_types.cpp
Labels: hipify
