Repository ROCm/hip, pull requests merged in 2019-12, with the labels that each got.

#1698 [hip] refactoring hipExtLaunchMultiKernelMultiDevice API
  include/hip/hcc_detail/functional_grid_launch.hpp
  include/hip/hcc_detail/hip_runtime_api.h
  src/hip_module.cpp
Labels: hip, priority: P1 (critical), type:fix

#1709 [HIPIFY] CUDA 10.2 support (data types only)
  bin/hipify-perl
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
Labels: hipify, type:feature

#1710 [HIPIFY] CUDA 10.2 fp_16 support
  bin/hipify-perl
  hipify-clang/src/CUDA2HIP_Device_functions.cpp
Labels: hipify, type:feature

#1712 [HIPIFY] CUDA 10.2 (functions only)
  bin/hipify-perl
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
  hipify-clang/src/Statistics.cpp
  hipify-clang/src/Statistics.h
Labels: hipify, type:feature

#1722 [HIPIFY][fix][#1246][#1655] Sort input files based on their dependency graph
  hipify-clang/src/main.cpp
Labels: hipify, type:feature, type:fix

#1723 [HIPIFY] main source file refactoring
  hipify-clang/src/main.cpp
Labels: hipify, type:enhancement, type:formatting

#1725 [HIPIFY] Add cleanupHipifyOptions functionality
  hipify-clang/src/main.cpp
Labels: hipify, type:enhancement

#1736 [HIPIFY][BLAS] Sync with cuBlas/rocblas/hipBlas
  bin/hipify-perl
  docs/markdown/CUBLAS_API_supported_by_HIP.md
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_BLAS_API_functions.cpp
  hipify-clang/src/CUDA2HIP_BLAS_API_types.cpp
Labels: hipify

#1738 [HIPIFY][build] Fix building with LLVM trunk
  hipify-clang/CMakeLists.txt
Labels: hipify, type:build

#1743 [HIPIFY] Revise HIP runtime
  bin/hipify-perl
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
Labels: hipify

#1739 [HIP] Unify hipError_t (Step 1)
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
  include/hip/hip_runtime_api.h
Labels: hip, type:enhancement

#1757 [HIPIFY][doc] Update Readme.md: versioning
  hipify-clang/README.md
Labels: hipify, type:doc

#1692 `static inline` in a header, just like excess sugar in a diet, causes bloat
  include/hip/hcc_detail/channel_descriptor.h
  include/hip/hcc_detail/device_functions.h
  include/hip/hcc_detail/driver_types.h
  include/hip/hcc_detail/hip_complex.h
  include/hip/hcc_detail/hip_fp16.h
  include/hip/hcc_detail/hip_fp16_gcc.h
  include/hip/hcc_detail/hip_runtime.h
  include/hip/hcc_detail/hip_vector_types.h
  include/hip/hcc_detail/texture_functions.h
  include/hip/hip_runtime_api.h
  src/hip_hcc_internal.h
Labels: pr:ready_to_merge

#1694 replace array designator C99
  include/hip/hcc_detail/texture_functions.h
Labels: pr:ready_to_merge

#1724 Fix late-coming issues.
  include/hip/hcc_detail/grid_launch.h
  include/hip/hcc_detail/hip_runtime_api.h
  include/hip/nvcc_detail/hip_runtime_api.h
  src/hip_hcc.cpp
  src/hip_hcc_internal.h
  src/hip_memory.cpp
  src/hip_module.cpp
  tests/src/runtimeApi/memory/hipMemcpyWithStream.cpp
Labels: pr:ready_to_merge

#1744 Fix the return type of demangle function so that its compatible across ABIs
  include/hip/hcc_detail/hiprtc.h
  src/hiprtc.cpp
Labels: pr:ready_to_merge

#1762 [HIPIFY][doc] LLVM 9.0.1 is the latest stable release now
  hipify-clang/README.md
Labels: hipify, type:doc

#1746 Fix texture 3D & 2D layered with N components
  src/hip_memory.cpp
Labels: pr:ready_to_merge

#1737 [hip] refactoring cooperative kernel launch APIs
  include/hip/hcc_detail/functional_grid_launch.hpp
  include/hip/hcc_detail/hip_runtime_api.h
  src/hip_module.cpp
Labels: hip, pr:ready_to_merge

#1726 Change to generate hipVersion.h
  CMakeLists.txt
  bin/hipcc
  include/hip/hip_runtime.h
  tests/src/deviceLib/hipVersion.cpp
Labels: pr:ready_to_merge

#1759 [HIP] Unify hipError_t (Step 2)
  bin/hipify-perl
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
  include/hip/hcc_detail/hip_runtime_api.h
  include/hip/hip_runtime_api.h
  include/hip/nvcc_detail/hip_runtime_api.h
  samples/0_Intro/bit_extract/bit_extract.cpp
  samples/0_Intro/square/square.hipref.cpp
  src/hip_event.cpp
  src/hip_hcc.cpp
  src/hip_memory.cpp
  src/hip_stream.cpp
  tests/hipify-clang/unit_tests/samples/square.cu
  tests/src/dynamicLoading/complex_loading_behavior.cpp
  tests/src/runtimeApi/event/record_event.cpp
  tests/src/runtimeApi/module/hipExtLaunchMultiKernelMultiDevice.cpp
  tests/src/runtimeApi/stream/hipStreamAddCallback.cpp
  tests/src/runtimeApi/stream/hipStreamSync2.cpp
Labels: hip, hipify, type:enhancement
