Repository ROCm/hip, pull requests merged in 2019-04, with the labels that each got.

#1000 [HIPIFY][cmake] Update CMakeLists and Readme cause CUDA 10.1 and clang 8.0.0 are released
  hipify-clang/CMakeLists.txt
  hipify-clang/README.md
Labels: hipify, type:build, type:doc

#1001 [HIPIFY][tests] Fix typo in test for CUDA 10.x
  tests/hipify-clang/unit_tests/libraries/cuSPARSE/cuSPARSE_10.cu
Labels: hipify, type:fix, type:test

#1007 [HIP][doc] Fix typos and minor text inaccuracies in HIP FAQ
  docs/markdown/hip_faq.md
Labels: hip, type:doc

#1003 hipify: translate cudaErrorInvalidSymbol
  bin/hipify-perl
Labels: hipify

#1011 [HIPIFY][cmake][doc] Update CMakeLists and Readme cause CUDA 10.1 and clang 8.0.0 are released
  hipify-clang/CMakeLists.txt
  hipify-clang/README.md
Labels: hipify, type:build, type:doc

#1014 [HIPIFY] CUDA 10.1 Driver API support
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Driver_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Driver_API_types.cpp
Labels: hipify, type:feature

#1015 [HIPIFY] CUDA 10.1 Runtime API support
  docs/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_Runtime_API_functions.cpp
  hipify-clang/src/CUDA2HIP_Runtime_API_types.cpp
Labels: hipify, type:feature

#1022 [HIPIFY] cuDNN 7.5.0.56 support
  docs/markdown/CUDNN_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_DNN_API_functions.cpp
  hipify-clang/src/CUDA2HIP_DNN_API_types.cpp
Labels: hipify, type:feature

#1023 [HIPIFY][cuDNN] Add partial cudnnRNNBiasMode_t support
  docs/markdown/CUDNN_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_DNN_API_types.cpp
Labels: hipify

#1024 [HIPIFY][BLAS] cuBLAS 10.1 support
  docs/markdown/CUBLAS_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_BLAS_API_functions.cpp
  hipify-clang/src/CUDA2HIP_BLAS_API_types.cpp
Labels: hipify, type:feature

#1025 [HIPIFY][SPARSE] cuSPARSE 10.1 support
  docs/markdown/CUSPARSE_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_SPARSE_API_functions.cpp
  hipify-clang/src/CUDA2HIP_SPARSE_API_types.cpp
Labels: hipify, type:feature

#1044 [HIPIFY][hipify-perl] Formatting
  bin/hipify-perl
Labels: hipify

#1045 [HIPIFY][doc] Provide patches for clang's bug 38811
  hipify-clang/README.md
  hipify-clang/patches/patch_for_clang_7.0.0_bug_38811.zip
  hipify-clang/patches/patch_for_clang_7.0.1_bug_38811.zip
  hipify-clang/patches/patch_for_clang_8.0.0_bug_38811.zip
Labels: hipify, type:doc

#1048 [HIPIFY][doc] Update README.md
  hipify-clang/README.md
Labels: hipify, type:doc

#1049 [HIPIFY][fix][#204] Suppress warning message: #pragma once in main file
  hipify-clang/src/LLVMCompat.cpp
  hipify-clang/src/LLVMCompat.h
  hipify-clang/src/main.cpp
Labels: hipify, type:fix

#1051 [HIPIFY][DNN] cudnnSetFilter4dDescriptor support
  docs/markdown/CUDNN_API_supported_by_HIP.md
  hipify-clang/src/CUDA2HIP_DNN_API_functions.cpp
  tests/hipify-clang/unit_tests/libraries/cuDNN/cudnn_convolution_forward.cu
Labels: hipify

#1053 [HIPIFY][perl][fix][258] Memory fence device functions are supported now
  bin/hipify-perl
Labels: hipify, type:fix

#1060 [HIPIFY][doc] Update Readme.md: latest cuDNN 7.5.1.10 is supported
  hipify-clang/README.md
Labels: hipify, type:doc

#1063 [HIPIFY][tests] Add cuSPARSE CSR-BCSR-SPMV-conversions example
  tests/hipify-clang/unit_tests/libraries/cuSPARSE/cuSPARSE_12.cu
Labels: hipify, type:test
