Repository ROCm/hip, pull requests merged in 2020-06, with the labels that each got.

#2096 [HIP][hipify-perl] Sync with HIPIFY's #124 and #125
  bin/hipify-perl
Labels: hipify, type:enhancement

#2110 Add __attribute__((const)) to grid related functions declarations
  include/hip/hcc_detail/hip_runtime.h
Labels: type:bug

#2114 [HIPIFY][HIP][doc] Sync with HIPIFY's #142
  bin/hipify-perl
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
Labels: hipify, sync, type:doc

#2118 [HIPIFY][HIP][doc] Sync with HIPIFY's #143
  bin/hipify-perl
  docs/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
Labels: hipify, nvidia, sync, type:doc
