Repository ROCm/hip, pull requests merged in 2020-05, with the labels that each got.

#2064 [HIP-Clang] Fix typos in hipBindTextureToMipmappedArray
  include/hip/hcc_detail/hip_runtime_api.h
Labels: pr:ready_to_merge

#2054 [HIP][BLAS] Sync with HIPIFY's #103 - #107
  bin/hipify-perl
  docs/markdown/CUBLAS_API_supported_by_HIP.md
Labels: hip, hipify, sync, type:doc

#2075 [HIPIFY][HIP][doc] Sync with HIPIFY's #108
  bin/hipify-perl
  docs/markdown/CUSPARSE_API_supported_by_HIP.md
Labels: hip, hipify, pr:ready_to_merge, sync, type:doc

#2090 [HIPIFY-PERL] Sync with HIPIFY's #117
  bin/hipify-perl
Labels: hipify, sync, type:feature
