Repository ROCm/hip, pull requests merged in 2024-08, with the labels that each got.

#3478 Add cooperative groups
  .readthedocs.yaml
  .wordlist.txt
  docs/conf.py
  docs/data/how-to/cooperative_groups/thread_hierarchy_coop_bottom.drawio
  docs/data/how-to/cooperative_groups/thread_hierarchy_coop_bottom.svg
  docs/data/how-to/cooperative_groups/thread_hierarchy_coop_top.drawio
  docs/data/how-to/cooperative_groups/thread_hierarchy_coop_top.svg
  docs/data/understand/programming_model_reference/thread_hierarchy_coop.svg
  docs/doxygen/Doxyfile
  docs/how-to/cooperative_groups.rst
  docs/index.md
  docs/reference/cooperative_groups_reference.rst
  docs/reference/cpp_language_extensions.rst
  docs/sphinx/_toc.yml.in
  docs/tutorial/cooperative_groups_tutorial.rst
  docs/understand/programming_model_reference.rst
  include/hip/hip_runtime_api.h
Labels: documentation

#3553 Replace title case with sentence case
  docs/how-to/hip_porting_driver_api.md
  docs/how-to/hip_porting_guide.md
  docs/how-to/hip_rtc.md
  docs/how-to/performance_guidelines.rst
  docs/how-to/programming_manual.md
  docs/how-to/unified_memory.rst
  docs/index.md
  docs/reference/cpp_language_extensions.rst
  docs/reference/cpp_language_support.rst
  docs/reference/terms.md
  docs/reference/unified_memory_reference.rst
  docs/reference/virtual_rocr.rst
  docs/sphinx/_toc.yml.in
  docs/tutorial/saxpy.rst
  docs/understand/amd_clr.rst
  docs/understand/hardware_implementation.rst
  docs/understand/programming_model.rst
  docs/understand/programming_model_reference.rst
Labels: ci:docs-only, documentation

#3562 Merge programming model
  .wordlist.txt
  docs/data/understand/programming_model/memory_hierarchy.drawio
  docs/data/understand/programming_model/memory_hierarchy.svg
  docs/data/understand/programming_model/thread_hierarchy.drawio
  docs/data/understand/programming_model/thread_hierarchy.svg
  docs/index.md
  docs/sphinx/_toc.yml.in
  docs/understand/programming_model.rst
  docs/understand/programming_model_reference.rst
Labels: ci:docs-only, documentation

#3578 Fix documentation build issues
  docs/how-to/virtual_memory.rst
  docs/index.md
  docs/reference/cpp_language_support.rst
  docs/tutorial/reduction.rst
  docs/understand/programming_model.rst
Labels: ci:docs-only, documentation

#3569 Update documentation requirements (Bump rocm-docs-core to 1.6.2)
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Labels: type:doc, ci:docs-only, documentation
